<?xml version="1.0" encoding="utf-8"?>
<html>
  <head>
    <meta name="arma:Type" content="preset" />
    <meta name="arma:PresetName" content="AF_{{ title }}" />
    <meta name="generator" content="ArmaForces - https://armaforces.bzdet.pl/" />
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" media="all" href="http://modlist.armaforces.com/launcher.css" />
  </head>
  <body>
    <h1>Arma 3 Mods - Preset <strong>{{ title }}</strong></h1>
    <p class="before-list">
      <em>Drag this file or link to it to Arma 3 Launcher or open it Mods / Preset / Import.</em>
    </p>
    <div class="mod-list">
      <table>
        {{#each mods}}
        <tr data-type="ModContainer">
          <td data-type="DisplayName">{{ name }}</td>
          <td>
            <span class="from-steam">Steam</span>
          </td>
          <td>
            <a href="http://steamcommunity.com/sharedfiles/filedetails/?id={{ id }}" data-type="Link">
              http://steamcommunity.com/sharedfiles/filedetails/?id={{ id }}
            </a>
          </td>
        </tr>
        {{/each}}
      </table>
    </div>
    <div class="footer">
      <span>Created by ArmaForces Modlist</span>
    </div>
  </body>
</html>
